.checkup {
          .header-component {
                  
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .rangepicker-component{
                              display: flex;
                    }

                    .padding {
                              padding: 5px;
                    }
          }
}