.derived-analysis {
    display: flex;
    justify-content: space-between;
}
.derived-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    .table {
        width: 100%;
        height: auto;
    }
}
